header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.visible-tablet {
  display: none;
  width: 100%;
  height: auto;
}

.visible-desktop {
  display: block;
  width: 100%;
  height: auto;
}

/* untuk screen mobile (kurang dari 576px dan lebih dari 400px) */
@media only screen and (max-width: 520px) {
  .container {
    width: auto;
    background-position: inherit;
  }

  .logo {
    display: none;
  }
  .logoweb {
    justify-content: flex-start;
  }

  .logoweb h2 {
    display: block;
    font-size: 30px;
    margin: 0;
  }
  /* .btn-menu {
    width: auto;
    font-size: 30px;
    background: transparent;
    color: #ec9f2b;
    text-align: center;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    position: absolute;
    border: none;
    margin: auto;
    font-weight: 500;
    transition: 0.5s;
  } */

  .menu-toggle {
    display: flex;
    z-index: 2;
  }
  .nav-bar ul {
    position: absolute;
    flex-direction: column;
    background-color: #112a3b;
    right: 0;
    top: 0;
    height: 25vh;
    width: 100%;
    /* margin-right: 30px; */
    color: white;
    align-items: center;
    padding: 5px;
    transform: translateY(-100%);
    transition: all 0.8s;
    z-index: 1;
  }

  .nav-bar ul.active {
    transform: translateY(0);
  }

  /* .nav-bar .menu li .btnLogin-popup {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    text-align: center;
    background: black;
    transition: all 0.5s;
    font-size: 20px;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    transform: scaleY(1);
    z-index: 99;
    transition: transform 0.5s ease, height 0.2s;
  } */

  .menu li {
    align-items: center;
    padding: 5px;
  }

  /* .nav-bar .menu::after,
  .nav-bar .menu:hover::after {
    background: none;
  } */

  .frontpage {
    justify-content: space-between;
    align-items: center;
    height: 80%;
  }

  .frontpage main {
    font-size: 16px;
    width: auto;
  }

  aside .wrapper {
    position: absolute;
    justify-content: center;
    width: 360px;
    z-index: 1;
  }

  .main-page h1 {
    font-size: 70px;
  }
  .main-page button {
    width: 150px;
    height: 25px;
    font-size: 16px;
  }

  /* .main-page .btn-subscribe:hover {
    background: #d38715;
    color: rgb(117, 0, 0);
  } */

  .reading-page {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    height: auto;
  }

  .reading-page .icon {
    font-size: 30px;
  }

  .reading-page h3 {
    font-size: 28px;
  }

  .reading-page p {
    font-size: 20px;
  }

  #gallery .gallery-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 0.5fr);
  }

  #gallery h2 {
    font-size: 28px;
  }

  #gallery .gallery-container .satu {
    grid-column: 1;
    grid-row: 1;
  }
  #gallery .gallery-container .dua {
    grid-column: 2;
    grid-row: 1;
  }
  #gallery .gallery-container .tiga {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  #gallery .gallery-container .empat {
    grid-column: 1;
    grid-row: 3;
  }
  #gallery .gallery-container .lima {
    grid-column: 2;
    grid-row: 3;
  }

  footer a {
    font-size: 18px;
  }
}

/* untuk screen tablet (lebih dari 600px kurang dari 992px) */
@media only screen and (min-width: 521px) and (max-width: 900px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .header {
    width: 100%;
    align-items: center;
  }

  .logo {
    display: none;
  }

  .logoweb h2 {
    display: block;
  }

  .menu {
    width: 100%;
    margin-right: 10px;
    /* align-items: center; */
  }

  .menu li a {
    margin-right: 10px;
    text-align: center;
    display: none;
  }

  .frontpage {
    height: 80%;
    display: flex;
    justify-content: space-between;
  }
  .frontpage main {
    font-size: 18px;
    width: 80%;
    height: 100px;
  }

  .frontpage aside {
    justify-content: center;
  }

  .main-page h1 {
    font-size: 70px;
  }
  .main-page button {
    width: 150px;
    height: 25px;
    font-size: 16px;
  }

  /* .main-page .btn-subscribe:hover {
    background: #d38715;
    color: rgb(117, 0, 0);
  } */

  aside .wrapper {
    position: absolute;
    justify-content: center;
    width: 360px;
    z-index: 1;
  }

  .reading-page {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 250px);
    height: 100%;
    gap: 20px;
  }

  .reading-page .icon {
    font-size: 28px;
  }

  .reading-page h3 {
    font-size: 20px;
  }

  .reading-page p {
    font-size: 18px;
  }

  #gallery .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.5fr);
  }

  #gallery .gallery-container .satu {
    grid-column: 1;
    grid-row: 1;
  }
  #gallery .gallery-container .dua {
    grid-column: 2;
    grid-row: 1;
  }
  #gallery .gallery-container .tiga {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  #gallery .gallery-container .empat {
    grid-column: 1;
    grid-row: 3;
  }
  #gallery .gallery-container .lima {
    grid-column: 2;
    grid-row: 3;
  }

  .visible-desktop {
    display: none;
  }

  .visible-tablet {
    display: block;
  }

  /* @media only screen and (min-width: 800px) {
    .logo {
      display: block;
    }
  } */
}
