/* Common styles for both desktop and mobile */
/* import font dari google font */
/* @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"); */

/* Common styling for body and header */
body {
  /* color: #112a3b; */
  font-family: "Dosis";
}

@font-face {
  font-family: "Dosis";
  src: url(./asset/font-Dosis-Medium-500.ttf);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

/* untuk screen mobile (kurang dari 576px) */
@media only screen and (max-width: 576px) {
  .container {
    width: auto;
    background-position: inherit;
  }

  .logo {
    display: none;
  }
  .logoweb {
    justify-content: flex-start;
  }

  .logoweb h2 {
    display: block;
    font-size: 20px;
  }
  .checkbtn {
    position: absolute;
    display: block;
    font-size: 20px;
  }

  .menu {
    display: none;
    width: 100%;
    text-align: center;
    height: auto;
    background: transparent;
    transition: all 0.5s;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    transform: scaleY(1);
    transition: transform 0.5s ease, height 0.2s;
  }

  .nav-bar .menu::after,
  .nav-bar .menu:hover::after {
    background: none;
  }

  .nav-bar .btnLogin-popup {
    width: 100px;
    height: 40px;
    border: 1px solid rgb(59, 17, 52);
  }

  #check:checked ~ .nav-bar {
    display: block;
  }

  .frontpage main {
    font-size: 16px;
    width: 50%;
  }

  .main-page h1 {
    font-size: 70px;
  }
  .main-page button {
    width: 150px;
    height: 25px;
    font-size: 16px;
  }

  .main-page .btn-subscribe:hover {
    background: #d38715;
    color: rgb(117, 0, 0);
  }

  .reading-page {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
    height: auto;
  }

  .reading-page .icon {
    font-size: 30px;
  }

  .reading-page h3 {
    font-size: 28px;
  }

  .reading-page p {
    font-size: 20px;
  }

  #gallery .gallery-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(3, 0.5fr);
  }

  #gallery h2 {
    font-size: 28px;
  }

  #gallery .gallery-container .satu {
    grid-column: 1;
    grid-row: 1;
  }
  #gallery .gallery-container .dua {
    grid-column: 2;
    grid-row: 1;
  }
  #gallery .gallery-container .tiga {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  #gallery .gallery-container .empat {
    grid-column: 1;
    grid-row: 3;
  }
  #gallery .gallery-container .lima {
    grid-column: 2;
    grid-row: 3;
  }

  footer a {
    font-size: 18px;
  }
}

/* untuk screen tablet (lebih dari 768px) */
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .header {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .logoweb h2 {
    display: block;
  }

  .menu {
    width: 100%;
    margin-right: 10px;
    /* align-items: center; */
  }

  .menu li {
    margin-right: 10px;
    text-align: center;
  }

  .frontpage {
    height: 80%;
    display: flex;
    justify-content: space-between;
  }
  .frontpage main {
    font-size: 18px;
    width: 50%;
    height: 100px;
  }

  .main-page h1 {
    font-size: 70px;
  }
  .main-page button {
    width: 150px;
    height: 25px;
    font-size: 16px;
  }

  .main-page .btn-subscribe:hover {
    background: #d38715;
    color: rgb(117, 0, 0);
  }

  aside .wrapper {
    width: 360px;
  }

  .reading-page {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 250px);
    height: 100%;
    gap: 20px;
  }

  .reading-page .icon {
    font-size: 28px;
  }

  .reading-page h3 {
    font-size: 20px;
  }

  .reading-page p {
    font-size: 18px;
  }

  #gallery .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.5fr);
  }

  #gallery .gallery-container .satu {
    grid-column: 1;
    grid-row: 1;
  }
  #gallery .gallery-container .dua {
    grid-column: 2;
    grid-row: 1;
  }
  #gallery .gallery-container .tiga {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  #gallery .gallery-container .empat {
    grid-column: 1;
    grid-row: 3;
  }
  #gallery .gallery-container .lima {
    grid-column: 2;
    grid-row: 3;
  }

  @media only screen and (max-width: 1400px) {
  }
}
